
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-query-behavior.html">

<script type="text/javascript" src="mto-db-firebase-document.js"></script>
