<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<dom-module id="mto-bullet">
  <style>
    :host {
      display: inline-block;
      width: 24px;
      height: 24px;
    }

    :host([hidden]) {
      display: none;
    }

    .bkg {
      opacity: 0;
    }

    svg:hover > .bkg {
      opacity: 1;
      fill: #a2a2a2;
    }

    .bkg-active {
      opacity: 1;
      fill: #d0d0d0;
    }
  </style>
  <template>
    <svg viewbox="0 0 24 24">
      <ellipse class$="{{_computeBkgClass(active)}}" cx="12" cy="12" rx="10" ry="10" pointer-events="all"/>
      <ellipse cx="12" cy="12" rx="4" ry="4" pointer-events="all"/>
    </svg>
  </template>
  <script type="text/javascript" src="mto-bullet.js"></script>
</dom-module>
