
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="mto-user-settings-form">
  <style>
    :host {
      display: block;
    }

    :host {
      display: block;

      @apply(--paper-font-body1);

      --paper-button-disabled: {
        background: transparent;
        color: var(--disabled-text-color, #9b9b9b);
      };
    }

    .title {
      @apply(--paper-font-title);
    }

    .message {
      margin-top: 20px;
      color: var(--secondary-text-color, #737373);
    }

    .bottom-bar {
      margin: 8px -12px 0 -12px;
      color: var(--primary-color);
      text-align: right;
    }
  </style>
  <template>
    <div class="title">Display name</div>
    <div class="message">
      Please select a name that will be visible for other user:
    </div>
    <paper-input
      label="Display name"
      value="{{_currentName}}"
      maxlength="100"
      on-keydown="_onKeyDown">
    </paper-input>

    <div class="bottom-bar">
      <paper-button on-tap="_onCancelTap">Cancel</paper-button>
      <paper-button on-tap="_onOkTap" disabled="{{!isValid}}">Change name</paper-button>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-user-settings-form.js"></script>
