<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'div-editable'
-->
<html>
  <head>
    <title>DEMO div-editable</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="div-editable.html">
    <link rel="import" href="../../bower_components/iron-input/iron-input.html">
    <link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

    <style is="custom-style">
      .horizontal-section {
        min-width: 100px;
      }
    </style>

  </head>

  <body unresolved>
    <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        div-editable {
          background-color: lightgrey;
          min-width: 50px;
        }
      </style>

      <div>
        <h4>TEST</h4>
        <div class="horizontal-section">
          <h4>Element settings</h4>
          <p>
            <label for="test-value">Value:</label>
            <input id="test-value" is="iron-input" bind-value="{{testValue}}">
            <paper-checkbox checked="{{selectOnFocus}}">Select on focus</paper-checkbox>
            <paper-checkbox checked="{{!disabled}}">Editable</paper-checkbox>
          </p>
          <p>
            Focused: <span>{{focused}}</span>
          </p>
          <p>
            <label for="test-placeholder">Placeholder:</label>
            <input id="test-placeholder" is="iron-input" bind-value="{{placeholder}}">
          </p>

          <h4>The element</h4>
          <div-editable
            value="{{testValue}}"
            focused="{{focused}}"
            select-on-focus="{{selectOnFocus}}"
            placeholder="{{placeholder}}"
            disabled="{{disabled}}"
            on-value-changed="_onValueChanged"
            ></div-editable>
          <h4>With no attributes</h4>
          <div-editable></div-editable>
        </div>
      </div>
    </div>
  </template>
  </dom-module>


  <script>
  Polymer({
        is: 'x-app',
        properties: {
          testValue: {
            type: String,
            value: 'Amazing_text'
          }
        },
        ready() {
          this.disabled = false;
        },
        _onValueChanged(e) {
          console.log('Value changed:', e.detail.value);
        }
      });

        (function(document) {
          'use strict';
        })(document);
  </script>

  </body>
</html>
