<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-behaviors/iron-control-state.html">

<dom-module id="div-editable">
  <template>
    <style>
      :host {
        display: block;
      }

      #container {
        /*white-space: nowrap;*/
        word-wrap: break-word;
        -webkit-line-break: after-white-space;
      }

      #container:focus {
        outline: none;
      }
    </style>
    
    <div
      id="container"
      spellcheck="false"
      contenteditable$=[[!disabled]]>
    </div>
  </template>
</dom-module>
<script type="text/javascript" src="div-editable.js"></script>
