
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">

<dom-module id="mto-shortcuts-view">
  <style>
    :host {
      display: block;
      @apply(--paper-font-body1);
    }

    .title {
      @apply(--paper-font-title);
      margin-bottom: 16px;
    }

    .key {
      @apply(--shadow-elevation-2dp);
      border-radius: 2px;
      margin: 0em;
      padding: 0.3em;
    }

    .desc {
      margin-left: 0.3em;
      color: var(--secondary-text-color);
    }

    .shortcut-col {
      text-align: right;
    }

    td {
      padding: 8px 0;
    }
  </style>
  <template>
    <div class="title">Keyboard shortcuts</div>
    <div class="container">
      <table>
        <tr>
          <td class="shortcut-col">
            <span class="key">Enter</span>
          </td>
          <td>
            <span class="desc">Add a node on the same level/End of edit</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Ctrl</span> + <span class="key">Enter</span>
          </td>
          <td>
            <span class="desc">Add a subnode</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Shift</span> + <span class="key">Enter</span>
          </td>
          <td>
            <span class="desc">New line in a node</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Backspace</span></span>
          </td>
          <td>
            <span class="desc">Remove selected node or thumbnail</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Tab</span></span>
          </td>
          <td>
            <span class="desc">Increase indentation</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Shift</span> + <span class="key">Tab</span></span>
          </td>
          <td>
            <span class="desc">Decrease indentation</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Ctrl</span> + <span class="key">B</span></span>
          </td>
          <td>
            <span class="desc">Bold text</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Ctrl</span> + <span class="key">I</span></span>
          </td>
          <td>
            <span class="desc">Italics</span>
          </td>
        </tr>
        <tr>
          <td class="shortcut-col">
            <span class="key">Ctrl</span> + <span class="key">U</span></span>
          </td>
          <td>
            <span class="desc">Underline</span>
          </td>
        </tr>
      </table>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-shortcuts-view.js"></script>
