<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-auth-buttons'
-->
<html>
<head>
  <title>DEMO mto-auth-buttons</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="mto-auth-buttons.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          width: 300px;
          border: 1px solid #ccc;
        }
      </style>
      <div>
        <h4>Demo: mto-auth-buttons</h4>
        <div class="horizontal-section">
          <mto-auth-buttons on-auth="logEvent"></mto-auth-buttons>
        </div>
        <div class="horizontal-section">
          <mto-auth-buttons user="{{user}}" on-user="logEvent" on-logout="logEvent"></mto-auth-buttons>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.user = {
          name: 'John Brown'
        };
      },
      logEvent: function(e) {
        console.log('Got event:', e.type);
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
