
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../mto-menu-item/mto-menu-item.html">

<dom-module id="mto-auth-buttons">
  <style>
    :host {
      display: block;
    }

    .right-icon {
      margin-right: -8px !important;
    }

    .username {
      @apply(--layout-flex);
    }
  </style>

  <template>
    <iron-pages attr-for-selected="data-mode" selected="{{mode}}">

      <mto-menu-item data-mode="buttons-view" on-tap="_onAuthTap">
        <iron-icon icon="social:person"></iron-icon>
        Login or Register
      </mto-menu-item>

      <mto-menu-item data-mode="user-view" on-tap="_onUserTap">
        <iron-icon icon="social:person"></iron-icon>
        <span class="username">{{user.name}}</span>
        <paper-icon-button
          class="right-icon"
          title="Logout"
          icon="exit-to-app"
          on-tap="_onLogoutTap"
          on-down="_stopEvent"> <!-- <<< Stop 'down' to prevent underlying ripple -->
        </paper-icon-button>
      </mto-menu-item>
    </iron-pages>
  </template>
</dom-module>

<script type="text/javascript" src="mto-auth-buttons.js"></script>
