
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../mto-icons/mto-icons.html">
<link rel="import" href="../mto-youtube-video/mto-youtube-utils.html">

<dom-module id="mto-insert-video-form">
  <style>
    :host {
      display: block;

      @apply(--paper-font-body1);

      --paper-button-disabled: {
        background: transparent;
        color: var(--disabled-text-color, #9b9b9b);
      };
    }

    .title {
      @apply(--paper-font-title);
    }

    .supported-services {
      color: var(--secondary-text-color);
      @apply(--paper-font-body1);
      margin-top: 1em;
    }

    iron-icon {
      transition: color 0.2s;
    }

    #youtubeIcon:hover,
    #youtubeIcon.active {
      color: #cd201f;
    }

    #vimeoIcon:hover,
    #vimeoIcon.active {
      color: #1ab7ea;
    }

    .bottom-bar {
      margin: 8px -12px 0 -12px;
      color: var(--primary-color);
      text-align: right;
    }

    /*.url-box {
      @apply(--layout-horizontal);
    }

    #checkIcon {
      color: var(--google-green-500, #4caf50);
    }*/
  </style>
  <template>
    <div class="title">Insert video</div>
    <!-- <div class="url-box"> -->
      <paper-input
        value="{{videoUrl}}"
        label="URL address of the video"
        invalid="{{!urlIsValid}}"
        error-message="Video address not recognized"
        on-keydown="_onKeyDown"
        ></paper-input>
      <!-- <iron-icon id="checkIcon" icon="check"></iron-icon>
    </div> -->

    <div class="supported-services">
      <span>Supported services: </span>
      <iron-icon
        id="youtubeIcon"
        icon="mto:youtube"
        title="YouTube"
        class$="[[youTubeActiveClass]]">
      </iron-icon>
      <!-- <iron-icon
        id="vimeoIcon"
        icon="mto:vimeo"
        title="Vimeo"
        class$="[[vimeoActiveClass]]">
      </iron-icon> -->
    </div>

    <div class="bottom-bar">
      <paper-button on-tap="_onCancelTap">Cancel</paper-button>
      <paper-button on-tap="_onInsertTap" disabled="{{!urlIsValid}}">Insert video</paper-button>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-insert-video-form.js"></script>
