
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../mto-icons/mto-icons.html">

<dom-module id="mto-view-mode-toggle">
  <style>
    :host {
      display: inline-block;
      color: var(--disabled-text-color, #9b9b9b);
      transition: color ease-in 0.2s;
      text-align: center;

      --paper-tabs-selection-bar-color: var(--accent-color);
      --paper-tab-ink: var(--accent-color);
    }

    .iron-selected {
      color: var(--secondary-text-color, #737373);
    }

    iron-icon {
      padding: 12px;
      cursor: pointer;
    }

    iron-icon:first-child {
      padding-left: 0;
    }

    iron-icon:last-child {
      padding-right: 0;
    }

  </style>
  <template>
    <paper-tabs attr-for-selected="view-mode" selected="{{selected}}">
      <paper-tab view-mode="bulletsView">
        <iron-icon
          title="Bullets View"
          icon="mto:view-mode-bullets">
        </iron-icon>
      </paper-tab>
      <paper-tab view-mode="tableView">
        <iron-icon
          title="Table View"
          icon="mto:view-mode-table">
        </iron-icon>
      </paper-tab>
      <!-- <paper-tab view-mode="cornellView">
        <iron-icon
          title="Cornell Notes"
          icon="mto:view-mode-cornell">
        </iron-icon>
      </paper-tab>
      <paper-tab view-mode="mindMapView">
        <iron-icon
          title="MindMap View"
          icon="mto:view-mode-mindmap">
        </iron-icon>
      </paper-tab>
      <paper-tab view-mode="cardsView">
        <iron-icon
          title="Cards View"
          icon="mto:view-mode-cards">
        </iron-icon>
      </paper-tab>
      <paper-tab view-mode="columnsView">
        <iron-icon
          title="Columns View"
          icon="mto:view-mode-columns">
        </iron-icon>
      </paper-tab> -->
    </paper-tabs>
  </template>
</dom-module>

<script type="text/javascript" src="mto-view-mode-toggle.js"></script>
