<dom-module id="mto-separator">
  <style>
    :host {
      display: block;
    }
    :host hr {
      border: 0;
      /* FIXME: Calculate colour from theme */
      border-top: 1px solid #e0e0e0;
    }
  </style>
  <template>
    <hr>
  </template>
  <script>
    /**
     * Simple menu separator
    */
    Polymer({
      is: 'mto-separator'
    });
  </script>
</dom-module>
