
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="mto-insert-image-form">
  <style>
    :host {
      display: block;

      @apply(--paper-font-body1);

      --paper-button-disabled: {
        background: transparent;
        color: var(--disabled-text-color, #9b9b9b);
      };
    }

    .title {
      @apply(--paper-font-title);
    }

    .bottom-bar {
      margin: 8px -12px 0 -12px;
      color: var(--primary-color);
      text-align: right;
    }
  </style>
  <template>
    <div class="title">Insert image</div>
    <paper-input
      value="{{imageUrl}}"
      label="URL address"
      on-keydown="_onKeyDown">
    </paper-input>

    <div class="bottom-bar">
      <paper-button on-tap="_onCancelTap">Cancel</paper-button>
      <paper-button on-tap="_onInsertTap" disabled="{{!isValid}}">Insert image</paper-button>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-insert-image-form.js"></script>
