<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-gallery-slideshow'
-->
<html>
<head>
  <title>DEMO mto-gallery-slideshow</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="mto-gallery-slideshow.html">

  <style is="custom-style"></style>

  <style>
    body {
      background: #eeeeee;
    }
  </style>
</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }

        mto-gallery-slideshow {
          border: solid 1px #ddd;
          max-width: 500px;
          min-height: 300px;

          overflow: hidden;
        }
      </style>
      <div>
        <h4>Demo: mto-gallery-slideshow</h4>
        <div class="horizontal-section">
          <mto-gallery-slideshow items="{{items}}" selected="{{selected}}"></mto-gallery-slideshow>
        </div>
        <h5>Not supported types</h5>
        <div class="horizontal-section">
          <mto-gallery-slideshow items="{{secondItems}}" selected="1"></mto-gallery-slideshow>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.items = [
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x768-Habitation.jpg'
          },
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-150x200-HongKongSkyline.jpg'
          },
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x767-Stadium.jpg'
          },
          {
            type: 'youtube-video',
            url: 'https://www.youtube.com/watch?v=6v2L2UGZJAM'
          }
        ];
        this.selected = 0;

        this.secondItems = [
          {
            type: 'source-code',
            language: 'java',
            value: 'abcdefgh'
          },
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-150x200-HongKongSkyline.jpg'
          },
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x767-Stadium.jpg'
          }
        ];
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
