
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../mto-youtube-video/mto-youtube-video.html">

<dom-module id="mto-gallery-slideshow">
  <style>
    :host {
      display: block;
      position: relative;

      overflow: hidden;
    }

    :host(:focus) {
      outline: none;
    }

    paper-fab {
      background-color: #fff;
      color: var(--secondary-text-color);

      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      @apply(--mto-gallery-slideshow-buttons);
    }

    neon-animated-pages {
      overflow: hidden;
      @apply(--layout-fit);
    }

    #nextButton {
      right: 16px;
      transition: right .5s;
    }

    #nextButton[hidden] {
      display: initial !important;
      right: -60px;
    }

    #previousButton {
      left: 16px;
      transition: left .5s;
    }

    #previousButton[hidden] {
      display: initial !important;
      left: -60px;
    }

    /* TODO: Move to separate elements or something*/
    .img-container {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      border-radius: 3px;
      @apply(--shadow-elevation-2dp);
    }

    mto-youtube-video {
      @apply(--layout-fit);
    }
  </style>
  <template>
    <neon-animated-pages id="pages" selected="[[selected]]" entry-animation="[[_entryAnimation]]" exit-animation="[[_exitAnimation]]">
      <template is="dom-repeat" items="[[items]]">
        <template is="dom-if" if="[[_typeIs(item.type, 'image')]]" restamp="true">
          <neon-animatable>
            <div class="img-container">
              <img src$="[[item.url]]" />
            </div>
          </neon-animatable>
        </template>
        <template is="dom-if" if="[[_typeIs(item.type, 'youtube-video')]]" restamp="true">
          <neon-animatable>
            <mto-youtube-video
              video-url="[[item.url]]">
            </mto-youtube-video>
          </neon-animatable>
        </template>
        <template is="dom-if" if="[[_typeIs(item.type)]]" restamp="true">
          <!-- Empty div for other types -->
          <div></div>
        </template>
      </template>
    </neon-animated-pages>

    <!-- Control buttons -->
    <paper-fab
      id="previousButton"
      mini
      icon="chevron-left"
      on-tap="goToPrevious"
      hidden$="{{_previousButtonHidden}}">
    </paper-fab>
    <paper-fab
      id="nextButton"
      mini
      icon="chevron-right"
      on-tap="goToNext"
      hidden$="{{_nextButtonHidden}}">
    </paper-fab>
  </template>
</dom-module>

<script type="text/javascript" src="mto-gallery-slideshow.js"></script>
