
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<link rel="import" href="../mto-auth-form/mto-auth-form.html">

<dom-module id="mto-welcome-screen">
  <style>
    :host {
      @apply(--paper-font-common-base);

      display: block;
      color: var(--mto-welcome-screen-text-color, --dark-theme-text-color);
      background: var(--mto-welcome-screen-background, --primary-color);
    }

    .auth-box {
      background: var(--primary-background-color);
      color: var(--primary-text-color);
      @apply(--shadow-elevation-2dp);
    }

    h1 {
      display: block;
      margin: 0;
    }

    h1 .logo {
      max-width: 100%;
      display: block;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (max-width: 659px) {
        h1 .logo {
          height: 108px;
        }

        h1 {
          padding: 8px;
        }
    }

    @media (min-width: 660px) {
      .auth-box {
        width: 320px;
        border-radius: 2px;
        min-width: 278px;
      }

      :host {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-around-justified);
        padding: 48px 48px 48px 32px;
      }

      h1 .logo {
        height: 144px;
      }

      h1 {
        padding-right: 32px;
      }
    }
  </style>
  <template>
    <div class="heading-box">
      <h1>
        <img class="logo" src="/images/logo.svg" alt="Mayto - Revolutionary note-taking" />
      </h1>
    </div>
    <div class="auth-box">
      <mto-auth-form
        id="authForm"
        mode="{{authMode}}"
        busy="[[authBusy]]"
        error-message="[[authError]]"
        autofocus>
      </mto-auth-form>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-welcome-screen.js"></script>
