
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<link rel="import" href="../mto-icons/mto-icons.html">

<dom-module id="mto-auth-form">
  <style>
    :host {
      display: block;
      position: relative;

      @apply(--layout-vertical);
      @apply(--paper-font-body1);
    }

    .scrollable {
      /*padding: 24px 24px 12px 24px;*/
      padding: 16px 24px 12px 24px;
      overflow-y: auto;
    }

    paper-button {
      margin: 0;
    }

    .or-separator {
      text-align: center;
      margin-bottom: 0;
    }

    .soc-btn {
      display: block;
      margin-bottom: 8px;
    }

    .facebook-button {
      background: #3b5998;
      color: #fff;
    }

    .google-plus-button {
      background: #dc4e41;
      color: #fff;
    }

    .bottom-bar {
      margin: 8px 16px 8px 24px;
      color: var(--primary-color);
    }

    .bottom-bar a {
      @apply(--layout-flex);
    }

    .layout-horizontal {
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }

    #error-message {
      color: var(--dark-theme-text-color);
      background-color: var(--accent-color);
      margin: 0;
      padding: 16px 28px;
    }

    paper-progress {
      width: initial;

      --paper-progress-active-color: var(--primary-color);
    }
  </style>
  <template>
    <div class="scrollable">

      <!-- Social Login Buttons -->
      <paper-button
        class="soc-btn facebook-button"
        raised
        on-click="_loginWithFacebookClicked">
        <iron-icon icon="mto:facebook"></iron-icon>
        Sign in with Facebook
      </paper-button>
      <paper-button
        class="soc-btn google-plus-button"
        raised
        on-click="_loginWithGoogleClicked">
        <iron-icon icon="mto:google"></iron-icon>
        Sign in with Google
      </paper-button>

      <p class="or-separator">or</p>

      <!-- Regular Login/Register Fields -->
      <paper-input
        id="emailInput"
        label="Email"
        type="email"
        value="{{_data.email}}"
        on-keydown="_onKeyDown"></paper-input>

      <paper-input
        label="Password"
        type="password"
        value="{{_data.password}}"
        on-keydown="_onKeyDown"></paper-input>

      <iron-collapse opened="{{_isSignUp(mode)}}">
        <paper-input
          label="Password again"
          type="password"
          value="{{_data.passwordAgain}}"
          error-message="Passwords don't match!"
          invalid="[[passwordAgainInvalid]]"
          on-keydown="_onKeyDown"></paper-input>
      </iron-collapse>
    </div>

    <!-- Error Message Box -->
    <iron-collapse opened="[[errorMessage]]">
      <p id="error-message">[[errorMessage]]</p>
    </iron-collapse>

    <!-- Bottom Buttons -->
    <div class="bottom-bar">
      <iron-collapse opened="{{_isSignUp(mode)}}" class="layout-horizontal">
        <a href="#" on-click="_alreadyHaveAccountClicked">
          I Already have account
        </a>
        <paper-button on-click="_registerClicked" disabled="[[busy]]">
          Register
        </paper-button>
      </iron-collapse>
      <iron-collapse opened="{{!_isSignUp(mode)}}" class="layout-horizontal">
        <a href="#" on-click="_dontHaveAccountClicked">
          I don't have account
        </a>
        <paper-button on-click="_loginClicked" disabled="[[busy]]">
          Login
        </paper-button>
      </iron-collapse>
    </div>

    <paper-progress indeterminate disabled="[[!busy]]"></paper-progress>
  </template>
</dom-module>

<script type="text/javascript" src="mto-auth-form.js"></script>
