<!--
Module that wraps Firebase manipulation object with universal IDBRef Interface.
 -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../mto-db-firebase-document/mto-db-firebase-document.html">
<link rel="import" href="../mto-db/mto-db-document-behavior.html">

<dom-module id="mto-db-document">
  <template>
    <mto-db-firebase-document
      id="fbDocument"
      location="[[location]]"
      data="{{data}}"
      query="{{_fbQuery}}"
      on-firebase-value="_onFirebaseValue">
    </mto-db-firebase-document>
  </template>
  <script type="text/javascript" src="FirebaseDBRef.js"></script>
  <script type="text/javascript" src="mto-db-document.js"></script>
</dom-module>
