
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-auth.html">
<link rel="import" href="mto-db-document.html">

<dom-module id="mto-db-auth">
  <template>
    <firebase-auth
      id="auth"
      location="https://maytoapp.firebaseio.com"
      provider="[[provider]]"
      user="{{user}}">
    </firebase-auth>
    <mto-db-document
      id="userMetadataDbDocument"
      location="[[userMetadataLocation]]"
      data="{{userMetadata}}"
      db-ref="{{userMetadataDbRef}}">
    </mto-db-document>
  </template>
</dom-module>

<script type="text/javascript" src="mto-db-auth.js"></script>
