
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="mto-menu-item">
  <style>

    :host {
      display: block;
      min-height: var(--paper-item-min-height, 48px);
      padding: 0px 16px;
      position: relative;
      cursor: default;

      @apply(--layout-horizontal);
      @apply(--layout-center);
      @apply(--paper-font-subhead);

      @apply(--mto-menu-item);
    }

    :host > ::content > *:not(:first-child):not(:last-child),
    :host > ::content > iron-icon:first-child {
      margin-right: 16px;
    }

    :host > ::content > iron-icon:first-child {
      opacity: var(--mto-menu-icon-opacity, 0.54);
      @apply(--mto-menu-icon);
    }

    .content-wrapper {
      @apply(--layout-fit);
    }

  </style>
  <template>
    <content></content>
    <paper-ripple></paper-ripple>
  </template>
</dom-module>

<script>
  (function() {
    Polymer({
      is: 'mto-menu-item',
      hostAttributes: {
        role: 'menuitem'
      }
    });
  })();
</script>
