
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<dom-module id="mto-menu">
  <style>
    :host {
      display: block;
      padding: 8px 0;
      background-color: var(--mto-menu-background-color, --paper-menu-background-color);
      color: var(--mto-menu-color, --primary-text-color);
      @apply(--mto-menu);
    }
  </style>
  <template>
    <content></content>
  </template>
</dom-module>

<script type="text/javascript" src="mto-menu.js"></script>
