<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-youtube-video'
-->
<html>
<head>
  <title>DEMO mto-youtube-video</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="../../bower_components/iron-input/iron-input.html">

  <link rel="import" href="mto-youtube-video.html">
  <link rel="import" href="mto-youtube-video-thumbnail.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }

        mto-youtube-video {
          border: 1px solid #00ff00;
        }
      </style>
      <div>
        <h4>Demo: mto-youtube-video</h4>
        <div class="horizontal-section">
          <div>Video URL: <input is="iron-input" bind-value="{{videoUrl}}" size="50"></div>
          <mto-youtube-video video-url="[[videoUrl]]"></mto-youtube-video>
        </div>
        <h4>Demo: mto-youtube-video-thumbnail</h4>
        <div class="horizontal-section">
          <div>Minimal thumbnail width: <input is="iron-input" bind-value="{{minWidth}}"></div>
          <mto-youtube-video-thumbnail
            video-url="[[videoUrl]]"
            min-width="[[minWidth]]">
          </mto-youtube-video-thumbnail>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.videoUrl = 'https://www.youtube.com/watch?v=YE7VzlLtp-4';
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
