
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="mto-youtube-utils.html">

<dom-module id="mto-youtube-video">
  <style>
    :host {
      display: block;
    }

    google-youtube {
      width: 100%;
      height: 100%;
    }
  </style>
  <template>
    <google-youtube
      video-id="[[_videoId]]"
      width="100%"
      height="100%"
    ></google-youtube>
  </template>
</dom-module>

<script type="text/javascript" src="mto-youtube-video.js"></script>
