
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<link rel="import" href="../mto-icons/mto-icons.html">
<link rel="import" href="mto-youtube-utils.html">

<dom-module id="mto-youtube-video-thumbnail">
  <style>
    :host {
      display: inline-block;
      position: relative;

      --iron-image-height: 100%;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      color: var(--secondary-text-color, #737373);
    }

    iron-image {
      display: block;
      width: inherit;
      height: inherit;
      max-width: inherit;
      max-height: inherit;
      min-width: inherit;
      min-height: inherit;
    }
  </style>
  <template>
    <iron-image
      src="[[_imageSrc]]"
      fade
      on-loaded-changed="_onImageLoaded">
    </iron-image>
    <paper-fab class="play-button" mini icon="mto:play-arrow"></paper-fab>
  </template>
</dom-module>

<script type="text/javascript" src="mto-youtube-video-thumbnail.js"></script>
