<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-source-code-editor'
-->
<html>
<head>
  <title>DEMO mto-source-code-editor</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="mto-source-code-editor.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }

        .the-value {
          white-space: pre;
        }

        .split-container:after {
          content: '';
          display: block;
          clear: both;
        }

        .split-item {
          width: 49%;
          float: left;
        }
      </style>
      <div>
        <h2>Demo: mto-source-code-editor</h2>
        <div class="horizontal-section">
          <h3>Default settings:</h3>
          <mto-source-code-editor></mto-source-code-editor>
          <h3>Binding:</h3>
          <div class="split-container">
            <mto-source-code-editor
              value="{{sourceCode}}"
              language="{{language}}"
              class="split-item">
            </mto-source-code-editor>
            <mto-source-code-editor
              value="{{sourceCode}}"
              language="{{language}}"
              class="split-item">
            </mto-source-code-editor>
          </div>
          <h4>
            <strong>The value:</strong>
          </h4>
          <p class="the-value">{{sourceCode}}</p>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.language = 'typescript';
        this.sourceCode =
        `@component('mto-source-code-editor')
class MtoSourceCodeEditor extends polymer.Base {

  @property({ type: String, notify: true, value: 'text' })
  public language: string;

  @property({ type: String, notify: true })
  public value: string;

  @property({ type: Boolean, value: false })
  public lineNumbers: boolean;

  private _onEditorReady(event, detail): void {
    this.$.editorElement.editor.$blockScrolling = Infinity;
    this._lineNumbersChanged();
  }
}`;
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
