
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../mto-db/mto-db-document-behavior.html">

<script type="text/javascript" src="mto-db-memory-document.js"></script>
