<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-gallery'
-->
<html>
<head>
  <title>DEMO mto-gallery</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="mto-gallery.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }

        mto-gallery {
          min-height: 200px;
          max-width: 400px;
          border: solid 1px #ddd;
        }
      </style>
      <div>
        <h4>Demo: mto-gallery</h4>
        <div class="horizontal-section">
          <mto-gallery nodes="{{nodes}}" node-id="-a"></mto-gallery>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.nodes = {
          '-a': {
            text: 'Amazing node text',
            children: ['-aa'],
            params: [
              {
                type: 'image',
                url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x768-Habitation.jpg'
              },
              {
                type: 'image',
                url: 'http://img.dummy-image-generator.com/buildings/dummy-150x200-BerlinHouses.jpg'
              },
              {
                type: 'image',
                url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x767-ArchConversation.jpg'
              },
              {
                type: 'youtube-video',
                url: 'https://www.youtube.com/watch?v=6v2L2UGZJAM'
              }
            ]
          },
          '-aa': {
            parentId: '-a',
            text: 'aa'
          }
        };
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
