
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../mto-node-behaviors/mto-node-ref-behavior.html">
<link rel="import" href="../mto-gallery-slideshow/mto-gallery-slideshow.html">

<link rel="import" href="mto-gallery-text-node.html">

<dom-module id="mto-gallery">
  <style>
    :host {
      display: block;
      background-color: var(--paper-grey-200);
      @apply(--layout-vertical);
    }

    mto-gallery-slideshow {
      @apply(--layout-flex);
    }

    mto-gallery-text-node {
      margin: 8px 0;
    }

    paper-icon-button {
      flex-shrink: 0;
    }

    .header-container {
      @apply(--layout-horizontal);
      padding: 8px;
    }
  </style>
  <template>
    <div class="header-container">
      <paper-icon-button icon="arrow-back" on-tap="_onGoBackTap"></paper-icon-button>
      <mto-gallery-text-node
        nodes="{{nodes}}"
        node-id="[[nodeId]]">
      </mto-gallery-text-node>
    </div>

    <mto-gallery-slideshow
      id="slideshow"
      items="[[node.params]]"
      selected="{{selected}}">
    </mto-gallery-slideshow>
  </template>
</dom-module>

<script type="text/javascript" src="mto-gallery.js"></script>
