<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<link rel="import" href="../mto-bullet/mto-bullet.html">
<link rel="import" href="../mto-db/mto-db-tree-utils.html">

<link rel="import" href="../mto-node-behaviors/mto-node-ref-behavior.html">

<dom-module id="mto-gallery-text-node">
  <style>
    :host {
      display: block;
    }

    /* This node */
    /* ========= */

    #thisNode {
      @apply(--layout-horizontal);
      @apply(--paper-font-subhead);
    }

    #textBlock {
      margin: 0 8px;
      @apply(--layout-flex);
    }

    /* Add-ons */
    /* ======= */

    /* Tags */

    .tag {
      color: var(--accent-color);
      text-decoration: none;
    }

    .tag:hover {
      text-decoration: underline;
    }
  </style>
  <template>
    <div id="thisNode">
      <div id="textBlock">
        <!-- Main text content -->
        <div id="mainText"></div>
      </div>
    </div>
  </template>
  <script src="mto-gallery-text-node.js"></script>
</dom-module>
