<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-thumbnail-stripe'
-->
<html>
<head>
  <title>DEMO mto-thumbnail-stripe</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="mto-thumbnail-stripe.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
          display: flex;
          flex-direction: row;
          border: solid 1px #ddd;
        }

        .horizontal-section > * {
          flex-shrink: 0;
        }

        .test-spacer {
          width: 100px;
          background-color: grey;
          color: white;
        }

        mto-thumbnail-stripe {
          /*max-height: 200px;*/
          height: 200px;
          /*max-width: 100%;*/
          flex: 1;
        }
      </style>
      <div>
        <h4>Demo: mto-thumbnail-stripe</h4>
        <div class="horizontal-section">
          <div class="test-spacer">spacer</div>
          <mto-thumbnail-stripe
            items="{{items}}"
            on-mto-thumbnail-open="thumbnailOpen"
            selections="{{selections}}"></mto-thumbnail-stripe>
        </div>
        <button type="button" on-tap="addImage">Add image</button>
        <h3>Selections:</h3>
        <pre>[[selectionsToJson(selections.*)]]</pre>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.items = [
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x768-Habitation.jpg'
          },
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-150x150-BerlinHouses.jpg'
          }
        ];

        this.itemsToAdd = [
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x767-Stadium.jpg'
          },
          {
            type: 'youtube-video',
            url: 'https://www.youtube.com/watch?v=6v2L2UGZJAM'
          },
          {
            type: 'image',
            url: 'http://img.dummy-image-generator.com/buildings/dummy-1024x766-HongKongSkyline.jpg'
          }
        ];
      },
      addImage: function() {
        this.push('items', this.itemsToAdd.pop());
      },
      thumbnailOpen: function(event, detail) {
        console.log('mto-thumbnail-open event catched for index', detail.index);
      },
      selectionsToJson: function() {
        return JSON.stringify(this.selections);
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
