
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="../mto-youtube-video/mto-youtube-video-thumbnail.html">

<dom-module id="mto-thumbnail-stripe">
  <style>
    :host {
      display: block;
      position: relative;
      overflow-x: hidden;
    }

    /* Scroll box */

    #scrollBox {
      @apply(--layout-horizontal);
      overflow-x: hidden;

      max-height: inherit;
      height: 100%;
    }

    #scrollBox.scrollbars {
      overflow-x: auto;
    }

    /* Arrows */

    #rightArrow,
    #leftArrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 52px;

      cursor: pointer;
      background: rgba(255, 255, 255, 0.5);
      transition: background 0.2s;
    }

    #leftArrow {
      left: 0;
    }

    #rightArrow {
      right: 0;
    }

    #rightArrow:hover,
    #leftArrow:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    #rightArrow iron-icon,
    #leftArrow iron-icon {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translate(0, -50%);
    }

    #leftArrow iron-icon {
      left: 4px;
    }

    #rightArrow iron-icon {
      right: 4px;
    }

    /* Thumbnails - General */

    .thumbnail-container {
      flex-shrink: 0;
      position: relative;
      display: block;
      /* TODO: Make height adjustable */
      height: 100%;
      margin-left: 4px;
      max-height: inherit;
      cursor: pointer;
    }

    .thumbnail-container:first-child {
      margin-left: 0;
    }

    .thumbnail-container > :not(.selection-overlay):not(template) {
      display: block;
      max-height: inherit;
      height: 100%;
    }

    .thumbnail-container .selection-overlay {
      display: none;
    }

    .thumbnail-container:focus {
      outline: none;
    }

    .thumbnail-container.selected .selection-overlay {
      display: block;
      @apply(--layout-fit);
      box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.5);
    }

    /* Thumbnails - Specific */

    iron-image {
      --iron-image-height: 100%;
    }

    /* Prevent selections */

    #scrollBox,
    #leftArrow,
    #rightArrow {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  </style>
  <template>
    <!-- Main Scroll Box -->
    <div id="scrollBox" class$="[[_scrollbarsClass]]">
      <template id="imagesRepeat" is="dom-repeat" items="{{items}}">
        <div
          class$="thumbnail-container [[_computeSelectedClass(item, index, selections.*)]]"
          on-tap="_onThumbnailTap"
          on-mousedown="_onThumbnailMouseDown"
          on-focus="_onThumbnailFocus"
          on-keydown="_onThumbnailKeyDown"
          tabindex="0">
          <template is="dom-if" if="[[_typeIsYoutube(item.type)]]" restamp="true">
            <mto-youtube-video-thumbnail
              video-url="[[item.url]]"
              min-width="320"
              on-loaded-changed="_updateArrowsVisibility">
            </mto-youtube-video-thumbnail>
          </template>
          <template is="dom-if" if="[[_typeIsImage(item.type)]]" restamp="true">
            <iron-image
              src="[[item.url]]"
              on-loaded-changed="_updateArrowsVisibility">
            </iron-image>
          </template>
          <div class="selection-overlay"></div>
        </div>
      </template>
    </div>

    <!-- Navigation Arrows -->
    <div id="leftArrow" on-tap="_moveLeft" hidden$="[[!_leftArrowVisible]]">
      <iron-icon icon="chevron-left"></iron-icon>
    </div>
    <div id="rightArrow" on-tap="_moveRight" hidden$="[[!_rightArrowVisible]]">
      <iron-icon icon="chevron-right"></iron-icon>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-thumbnail-stripe.js"></script>
