<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-view-mode-table'
-->
<html>
<head>
  <title>DEMO mto-view-mode-table</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <script src="../mto-db/test/MockDBRef.js"></script>

  <link rel="import" href="mto-view-mode-table.html">
  <link rel="import" href="../mto-db-memory-document/mto-db-memory-document.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }

        .split-container {
          max-width: 800px;
        }

        .split-container:after {
          content: '';
          display: block;
          clear: both;
        }

        .split-item {
          width: 50%;
          float: left;
        }
      </style>
      <div>
        <h4>Demo: mto-view-mode-table</h4>

        <div class="split-container">
          <mto-db-memory-document
            id="testId"
            data="{{nodes}}"
            db-ref="{{dbRef}}">
          </mto-db-memory-document>
          <mto-view-mode-table
            nodes="{{nodes}}"
            db-ref="{{dbRef}}"
            settings="{{settings}}"
            class="split-item">
          </mto-view-mode-table>
          <mto-view-mode-table
            nodes="{{nodes}}"
            db-ref="{{dbRef}}"
            settings="{{settings}}"
            class="split-item">
          </mto-view-mode-table>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.nodes = {
          '-a': {
            text: 'Amazing text',
            children: ['-aa', '-ab']
          },
          '-aa': {
            parentId: '-a',
            text: 'aa',
            children: ['-aaa', '-aab']
          },
          '-aaa': {
            parentId: '-aa',
            text: 'aaa'
          },
          '-aab': {
            parentId: '-aa',
            text: 'aab'
          },
          '-ab': {
            parentId: '-a',
            text: 'ab'
          },
        };

        this.settings = {
          rootNodeId: '-a',
          lastOpenedNodeId: '-a'
        };
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
