
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="mto-table-node.html">

<dom-module id="mto-view-mode-table">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <mto-table-node
      id="rootNodeElement"
      nodes="{{nodes}}"
      node-id="{{settings.rootNodeId}}"
      db-ref="{{dbRef}}"
      selections="{{selections}}"
      is-headline
    ></mto-table-node>
  </template>
</dom-module>

<script type="text/javascript" src="mto-view-mode-table.js"></script>
