
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<link rel="import" href="../div-editable/div-editable.html">
<link rel="import" href="../mto-db/mto-db-tree-utils.html">
<link rel="import" href="../mto-thumbnail-stripe/mto-thumbnail-stripe.html">
<link rel="import" href="../mto-source-code-editor/mto-source-code-editor.html">

<link rel="import" href="../mto-node-behaviors/mto-debounced-main-text-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-delete-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-editing-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-focus-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-indent-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-insert-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-key-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-no-media-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-node-ref-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-open-gallery-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-tap-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-thumbnails-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-source-code-behavior.html">

<dom-module id="mto-table-node">
  <style>
    :host {
      @apply(--layout-horizontal);
    }

    :host([is-headline]) {
      /* Use !important to win against CSS variables. For some reason CSS
         variables seem to use more specific selectors internally and therefore
         have higher priority. */
      display: block !important;
    }

    #thisNode {
      padding: 4px 8px;
      @apply(--paper-font-subhead);
      border: solid 1px var(--mto-table-node-border-color, --paper-grey-500);
      margin: -1px 0 0 -1px;

      /* Width */
      width: var(--mto-table-node-col-width, 220px);
      min-width: var(--mto-table-node-col-width, 220px);
    }

    #thisNode:focus {
      outline: none;
    }

    #textBlock {
      @apply(--layout-flex);
    }

    #thisNode.selected {
      background-color: var(--mto-node-selection-bkg, --paper-grey-300);
    }

    #thisNode div-editable {
      cursor: pointer;
    }

    #thisNode.selected div-editable {
      cursor: auto;
    }

    #thisNode.headline {
      padding: 28px 24px 8px 40px;
      @apply(--paper-font-display1);
      border: none !important;
      margin: 0;

      width: inherit !important;
    }

    #thisNode.headline #textBlock {
      margin-left: 0;
    }

    #thisNode.headline #thumbnailStripe {
      margin: 4px 0;
    }

    #subTree.headline {
      /*border: solid 1px var(--mto-table-node-light-border-color, --paper-grey-300);*/
      padding: 1px 40px 0 41px; /* +1px to compensate -1px cell margin */
    }

    #thumbnailStripe {
      margin: 4px -8px -4px -8px;
      height: 120px;
    }

    #thisNode:not(.headline) mto-source-code-editor {
      margin: 4px -8px;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  </style>
  <template>
    <div id="thisNode"
      tabindex="0"
      class$="[[headlineClass]] [[selectedClass]]">
      <div id="textBlock">

        <!-- Main text content -->
        <div-editable
          id="mainText"
          class="node-text"
          disabled="[[!editing]]"
          on-change="_debouncedMainTextBehavior_fireUpdate"
          select-on-focus>
        </div-editable>

        <!-- Note -->
        <!-- <p class="note">Note text note text.</p> -->

        <template is="dom-if" if="[[_mtoSourceCodeBehavior_data]]" restamp="true">
          <mto-source-code-editor
            language="{{_mtoSourceCodeBehavior_data.language}}"
            value="{{_mtoSourceCodeBehavior_data.value}}"
            on-mto-delete-key-event="_mtoSourceCodeBehavior_onDeleteKeyEvent"
            on-keydown="_mtoSourceCodeBehavior_onKeyDown"
            on-keypress="_mtoSourceCodeBehavior_onKeyDown">
          </mto-source-code-editor>
        </template>

        <!-- Gallery -->
        <!-- Thumbnail Stripe with attachments-->
        <template is="dom-if" if="[[_mtoNoMediaBehavior_showMedia]]">
          <mto-thumbnail-stripe
            id="thumbnailStripe"
            items="{{node.params}}"
            selections="{{_mtoThumbnailSelectionBehavior_stripeSelections}}">
          </mto-thumbnail-stripe>
        </template>
      </div>
    </div>
    <div id="subTree" class$="[[headlineClass]]">
      <template is="dom-repeat" id="childrenRepeat" items="{{node.children}}">
        <mto-table-node
          nodes="{{nodes}}"
          node-id="{{item}}"
          db-ref="{{dbRef}}"
          selections="{{selections}}">
        </mto-table-node>
      </template>
    </div>
  </template>
</dom-module>

<script type="text/javascript" src="mto-table-node.js"></script>
