<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    app.settingRoute = false;

    function setRoute(route) {
      app.settingRoute = true;
      app.route = route;
      app.settingRoute = false;
    }

    app.routeChanged = function(e) {
      if (!app.settingRoute) {
        page.show('/' + e.detail.value);
      }
    };

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    // function scrollToTop(ctx, next) {
    //   app.scrollPageToTop();
    //   next();
    // }

    // Routes
    page('*', function(ctx, next) {
      next();
    });

    page('/', function() {
      setRoute('home');
    });

    page(app.baseUrl, function() {
      setRoute('home');
    });

    page('/home', function() {
      page.redirect(app.baseUrl);
    });

    page('/login', function() {
      setRoute('login');
    });

    page('/bullets', function() {
      setRoute('bullets');
    });

    page('/table', function() {
      setRoute('table');
    });

    page('/gallery', function() {
      setRoute('gallery');
    });

    // 404
    page('*', function(data) {
      app.$.toast.text = 'Can\'t find: ' + data.path  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
