<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      .page-title {
        @apply(--paper-font-display2);
      }

      mto-editor {
        @apply(--layout-fit);
      }

      paper-menu a > *, paper-menu paper-item > *, paper-menu paper-icon-item > * {
        pointer-events: none;
      }

      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }
    </style>
  </template>
</dom-module>
