<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-view-mode-bullets'
-->
<html>
<head>
  <title>DEMO mto-view-mode-bullets</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <script src="../mto-db/test/MockDBRef.js"></script>

  <link rel="import" href="mto-view-mode-bullets.html">
  <link rel="import" href="mto-bullet-node.html">
  <link rel="import" href="../mto-db-memory-document/mto-db-memory-document.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
        }

        .split-container {
          max-width: 800px;
        }

        .split-container:after {
          content: '';
          display: block;
          clear: both;
        }

        .split-item {
          width: 50%;
          float: left;
        }
      </style>
      <div>
        <h3>View mode: Text</h3>
        <h4>mto-bullet-node</h4>

        <div class="split-container">
          <mto-bullet-node nodes="{{nodes}}" node-id="-aa" class="split-item"></mto-bullet-node>
          <mto-bullet-node nodes="{{nodes}}" node-id="-aa" class="split-item"></mto-bullet-node>
        </div>

        <hr>

        One node line with bullet and its children.
        <ul>
          <li>Tap/Click</li>
          <ul>
            <li>First tap/click selects node.</li>
            <li>Second tap/click enters edit mode.</li>
            <li>Long touch/mousedown starts node dragging.</li>
          </ul>
          <li>Keyboard</li>
          <ul>
            <li>Escape key cancels edit mode.</li>
          </ul>
        </ul>

        <h4>mto-view-mode-bullets</h4>

        <div class="split-container">
          <mto-db-memory-document
            id="testId"
            data="{{nodes}}"
            db-ref="{{dbRef}}">
          </mto-db-memory-document>
          <mto-view-mode-bullets
            nodes="{{nodes}}"
            db-ref="{{dbRef}}"
            settings="{{settings}}"
            class="split-item">
          </mto-view-mode-bullets>
          <mto-view-mode-bullets
            nodes="{{nodes}}"
            db-ref="{{dbRef}}"
            settings="{{settings}}"
            class="split-item">
          </mto-view-mode-bullets>
        </div>

      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      listeners: {
        'mto-add-sibling': 'addSibling'
      },
      ready: function() {
        this.nodes = {
          '-a': {
            text: 'Amazing text',
            children: ['-aa', '-ab'],
            params: [
              {
                type: 'source-code',
                language: 'java',
                value: 'private static void myStuff(String param)'
              }
            ]
          },
          '-aa': {
            parentId: '-a',
            text: 'aa',
            children: ['-aaa', '-aab']
          },
          '-aaa': {
            parentId: '-aa',
            text: 'aaa'
          },
          '-aab': {
            parentId: '-aa',
            text: 'aab'
          },
          '-ab': {
            parentId: '-a',
            text: 'ab'
          },
        };

        this.settings = {
          rootNodeId: '-a',
          lastOpenedNodeId: '-a'
        };
      },
      addSibling() {
        console.log('Add Sibling');
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
