<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">

<link rel="import" href="../div-editable/div-editable.html">
<link rel="import" href="../mto-bullet/mto-bullet.html">
<link rel="import" href="../mto-db/mto-db-tree-utils.html">
<link rel="import" href="../mto-thumbnail-stripe/mto-thumbnail-stripe.html">
<link rel="import" href="../mto-source-code-editor/mto-source-code-editor.html">

<link rel="import" href="../mto-node-behaviors/mto-debounced-main-text-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-delete-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-editing-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-focus-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-indent-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-insert-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-key-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-no-media-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-node-ref-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-open-gallery-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-tap-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-thumbnails-selection-behavior.html">
<link rel="import" href="../mto-node-behaviors/mto-source-code-behavior.html">

<dom-module id="mto-bullet-node">
  <style>
    :host {
      display: block;
    }

    /* This node */
    /* ========= */


    #thisNode {
      padding: 4px;
      @apply(--layout-horizontal);
      @apply(--paper-font-subhead);
    }

    #thisNode > * {
      flex-shrink: 0;
    }

    #thisNode:focus {
      outline: none;
    }

    #thisNode mto-bullet {
      margin: 0 4px;
    }

    #textBlock {
      margin: 0 8px;
      overflow-x: hidden;
      @apply(--layout-flex);
    }

    #textBlock p {
      margin: 0;
    }

    #thisNode.selected {
      background-color: #e0e0e0;
    }

    #thisNode div-editable {
      cursor: pointer;
    }

    #thisNode.selected div-editable {
      cursor: auto;
    }

    /* This node as Headlline */

    #thisNode.headline {
      padding: 28px 24px 4px 40px;
      @apply(--paper-font-display1);
    }

    #thisNode.headline #textBlock {
      margin-left: 0;
    }

    /* Subtree */
    /* ======= */

    #subTree {
      margin-left: 24px;
    }

    #subTree.headline {
      margin-left: 0;
    }

    /* Add-ons */
    /* ======= */

    /* Note */

    #thisNode .note {
      color: var(--secondary-text-color);
      @apply(--paper-font-body1);
    }

    /* Collapse button */

    .collapse-button {
      margin: 0 4px;
      color: var(--disabled-text-color);
      opacity: 0;
    }
    iron-icon.collapse-button[hidden] {
      display: none;
    }

    /*#thisNode:hover .collapse-button {
      opacity: 1;
    }*/

    /* Tags */

    .tag {
      color: var(--accent-color);
      text-decoration: none;
    }

    .tag:hover {
      text-decoration: underline;
    }

    /* Gallery */

    #thumbnailStripe {
      margin: 4px 0;
      height: 120px;
    }

    mto-source-code-editor {
      line-height: 0;
    }
  </style>
  <template>
    <div id="thisNode"
      tabindex="0"
      class$="[[headlineClass]] [[selectedClass]]">
      <iron-icon
        class="collapse-button"
        icon="remove"
        hidden$="[[isHeadline]]">
      </iron-icon>
      <mto-bullet hidden$="[[isHeadline]]"></mto-bullet>
      <div id="textBlock">

        <!-- Main text content -->
        <div-editable
          id="mainText"
          class="node-text"
          disabled="[[!selected]]"
          on-change="_debouncedMainTextBehavior_fireUpdate"
          select-on-focus>
        </div-editable>

        <!-- Note -->
        <!-- <p class="note">Note text note text.</p> -->

        <template is="dom-if" if="[[_mtoSourceCodeBehavior_data]]" restamp="true">
          <mto-source-code-editor
            language="{{_mtoSourceCodeBehavior_data.language}}"
            value="{{_mtoSourceCodeBehavior_data.value}}"
            on-mto-delete-key-event="_mtoSourceCodeBehavior_onDeleteKeyEvent"
            on-keydown="_mtoSourceCodeBehavior_onKeyDown"
            on-keypress="_mtoSourceCodeBehavior_onKeyDown">
          </mto-source-code-editor>
        </template>

        <!-- Thumbnail Stripe with attachments-->
        <template is="dom-if" if="[[_mtoNoMediaBehavior_showMedia]]">
          <mto-thumbnail-stripe
            id="thumbnailStripe"
            items="{{node.params}}"
            selections="{{_mtoThumbnailSelectionBehavior_stripeSelections}}">
          </mto-thumbnail-stripe>
        </template>
      </div>
    </div>
    <template is="dom-if" if="[[!singleNode]]" restamp="true">
      <div id="subTree" class$="[[headlineClass]]">
        <template is="dom-repeat" id="childrenRepeat" items="{{node.children}}">
          <mto-bullet-node
            nodes="{{nodes}}"
            node-id="{{item}}"
            db-ref="{{dbRef}}"
            selections="{{selections}}">
          </mto-bullet-node>
        </template>
      </div>
    </template>
  </template>
  <script type="text/javascript" src="mto-bullet-node.js"></script>
</dom-module>
