<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">

<link rel="import" href="mto-bullet-node.html">

<dom-module id="mto-view-mode-bullets">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <mto-bullet-node
      id="rootNodeElement"
      nodes="{{nodes}}"
      node-id="{{settings.rootNodeId}}"
      db-ref="{{dbRef}}"
      selections="{{selections}}"
      is-headline
    ></mto-bullet-node>
  </template>
  <script type="text/javascript" src="mto-view-mode-bullets.js"></script>
</dom-module>
