<!doctype html>
<!--
DEMO PAGE FOR COMPONENT 'mto-view-settings-form'
-->
<html>
<head>
  <title>DEMO mto-view-settings-form</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="mto-view-settings-form.html">

  <style is="custom-style"></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <x-app></x-app>

  <dom-module id="x-app">
    <template>
      <style>
        .horizontal-section {
          min-width: 100px;
          max-width: 420px;
        }
      </style>
      <div>
        <h4>Demo: mto-view-settings-form</h4>
        <div class="horizontal-section">
          <mto-view-settings-form greet="{{greet}}"></mto-view-settings-form>
        </div>
      </div>
    </template>
  </dom-module>

  <script>
    Polymer({
      is: 'x-app',
      ready: function() {
        this.greet = "Hello Demo!";
      }
    });

    (function(document) {
      'use strict';
    })(document);
  </script>

</body>
</html>
