
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../mto-view-mode-toggle/mto-view-mode-toggle.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<dom-module id="mto-view-settings-form">
  <style>
    :host {
      display: block;
    }

    mto-view-mode-toggle {
      display: block;
      margin: 4px 0;
    }

    .placeholder {
      @apply(--paper-font-body1);

      margin: 0 0 4px 0;
      color: white;
      background-color: #c8c8c8;
      line-height: 32px !important;
      text-align: center;

      @apply(--mto-view-settings-form-placeholder);
    }

    .section-head {
      @apply(--paper-font-body2);
      color: var(--primary-color);
      margin: 16px 0 12px;
    }
  </style>
  <template>
     <mto-view-mode-toggle selected="{{viewMode}}"></mto-view-mode-toggle>
     <p class="placeholder">Current view settings</p>
     <p class="section-head">General</p>
     <p class="placeholder">General view settings</p>
     <!-- <paper-checkbox checked>Show something</paper-checkbox> -->
  </template>
</dom-module>

<script type="text/javascript" src="mto-view-settings-form.js"></script>
