
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<script type="text/javascript" src="mto-editor-insert-video-behavior.js"></script>
