
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<!-- Iron elements -->
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Paper elements -->
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<!-- Custom Elements -->
<link rel="import" href="../mto-auth-behavior/mto-auth-behavior.html">
<link rel="import" href="../mto-auth-buttons/mto-auth-buttons.html">
<link rel="import" href="../mto-auth-form/mto-auth-form.html">
<link rel="import" href="../mto-db-behavior/mto-db-behavior.html">
<link rel="import" href="../mto-db/mto-db-auth.html">
<link rel="import" href="../mto-db/mto-db-document.html">
<link rel="import" href="../mto-gallery/mto-gallery.html">
<link rel="import" href="../mto-icons/mto-icons.html">
<link rel="import" href="../mto-insert-image-form/mto-insert-image-form.html">
<link rel="import" href="../mto-insert-video-form/mto-insert-video-form.html">
<link rel="import" href="../mto-menu-item/mto-menu-item.html">
<link rel="import" href="../mto-menu/mto-menu.html">
<link rel="import" href="../mto-separator/mto-separator.html">
<link rel="import" href="../mto-user-settings-form/mto-user-settings-form.html">
<link rel="import" href="../mto-view-mode-bullets/mto-view-mode-bullets.html">
<link rel="import" href="../mto-view-mode-table/mto-view-mode-table.html">
<link rel="import" href="../mto-view-settings-form/mto-view-settings-form.html">
<link rel="import" href="../mto-welcome-screen/mto-welcome-screen.html">
<link rel="import" href="../mto-shortcuts-view/mto-shortcuts-view.html">
<link rel="import" href="mto-editor-insert-image-behavior.html">
<link rel="import" href="mto-editor-insert-source-code-behavior.html">
<link rel="import" href="mto-editor-insert-video-behavior.html">
<link rel="import" href="mto-editor-open-gallery-behavior.html">

<dom-module id="mto-editor">
  <style>
    :host {
      --primary-text-color: #212121;
      --primary-color: #607d8b;
      --dark-primary-color: #455a64;
      --light-primary-color: #cfd8dc;
      --accent-color: #ff6e40;
      --light-accent-color: #ff9e80;
      --dark-accent-color: #ff3d00;

      --mto-view-settings-form-placeholder: {
        margin-left: -24px;
        margin-right: -24px;
      };

      /* My style */
      --paper-button: {
        @apply(--paper-font-button);
        line-height: normal;
      };

      --paper-button-disabled: {
        color: var(--disabled-text-color, #9b9b9b);
      };

      --paper-button-flat-keyboard-focus: {
        font-weight: 500;
        background-color: rgba(0,0,0,0.25);
      };

      --paper-item-icon-width: 40px;

      --paper-toolbar-title: {
        @apply(--paper-font-title);
      };

      --paper-checkbox-unchecked-color: var(--light-theme-secondary-color);
      --paper-checkbox-label-spacing: 19px;

    }

    #screenPages > * {
      @apply(--layout-fit);
    }

    /* ========================================================== */
    /* Editor screen */

    paper-toolbar .title {
      margin-left: 24px;
      max-height: 28px;
    }

    #mainMenu mto-menu {
      width: 216px;
    }

    #insertMenu mto-menu {
      min-width: 170px;
    }

    #viewModePages > * {
      @apply(--layout-fit);
      overflow: auto;
    }

    /* ========================================================== */
    /* Dialogs */

    #viewSettingsDialog {
      padding: 16px 24px 24px 24px;
      color: var(--primary-text-color);
      width: 216px;
    }

    #viewSettingsDialog .dialog-heading {
      @apply(--paper-font-title);
    }

    #insertVideoDialog,
    #insertImageDialog,
    #userSettingsDialog {
      width: 344px;
    }

    #insertVideoDialog > *:last-child,
    #insertImageDialog > *:last-child,
    #userSettingsDialog > *:last-child {
      margin-bottom: 12px;
    }
  </style>
  <template>
    <!-- END POINT: Services, View-less elements -->

    <mto-db-auth
      id="auth"
      user="{{user}}"
      metadata-ready="{{userMetadataReady}}">
    </mto-db-auth>

    <mto-db-document
      id="nodesDbDocument"
      location="[[nodesLocation]]"
      data="{{nodes}}"
      db-ref="{{nodesDbRef}}">
    </mto-db-document>

    <mto-db-document
      id="settingsDbDocument"
      location="[[settingsLocation]]"
      data="{{settings}}"
      db-ref="{{settingsDbRef}}">
    </mto-db-document>

    <!-- ===================== -->

    <iron-pages id="screenPages" attr-for-selected="data-screen" selected="{{screen}}">

      <!-- END POINT: Screens -->

      <paper-header-panel data-screen="editor">

        <!-- Toolbar variants -->
        <iron-pages class="paper-header" selected="{{_toolbarMode}}" attr-for-selected="data-toolbar-mode">

          <!-- A. Main Toolbar -->
          <paper-toolbar id="mainToolbar" data-toolbar-mode="main">

            <!-- END POINT: Toolbar elements, left -->

            <!-- <paper-icon-button icon="arrow-back"></paper-icon-button> -->

            <!-- ===================== -->

            <div id="editorNodeTitle" class="title"></div>

            <!-- END POINT: Toolbar elements, right -->

            <paper-menu-button horizontal-align="right">
              <paper-icon-button
                icon="image:remove-red-eye"
                class="dropdown-trigger"
                title="View">
              </paper-icon-button>
              <paper-material id="viewSettingsDialog" class="dropdown-content">
                <div class="dialog-heading">View</div>
                <mto-view-settings-form
                  view-mode="{{viewMode}}">
                </mto-view-settings-form>
              </paper-material>
            </paper-menu-button>

            <paper-menu-button id="insertMenu" horizontal-align="right">
              <paper-icon-button
                icon="add"
                class="dropdown-trigger"
                title="Add attachment">
              </paper-icon-button>
              <mto-menu class="dropdown-content">
                <mto-menu-item id="insertImageMenuItem">
                  <iron-icon icon="mto:image"></iron-icon>Picture
                </mto-menu-item>
                <mto-menu-item id="insertVideoMenuItem">
                  <iron-icon icon="theaters"></iron-icon>Video
                </mto-menu-item>
                <mto-menu-item id="insertSourceCodeMenuItem">
                  <iron-icon icon="mto:code"></iron-icon>Source code
                </mto-menu-item>
                <!-- <mto-menu-item id="insertNoteMenuItem">
                  <iron-icon icon="speaker-notes"></iron-icon>Note
                </mto-menu-item> -->
              </mto-menu>
            </paper-menu-button>

            <paper-menu-button id="mainMenu" horizontal-align="right">
              <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
              <mto-menu class="dropdown-content">
                <mto-auth-buttons id="authButtons" user="[[user]]"></mto-auth-buttons>
                <mto-separator></mto-separator>
                <!-- <mto-menu-item><iron-icon icon="file-upload"></iron-icon>Import</mto-menu-item>
                <mto-menu-item><iron-icon icon="file-download"></iron-icon>Export</mto-menu-item>
                <mto-menu-item><iron-icon icon="print"></iron-icon>Print</mto-menu-item>
                <mto-separator></mto-separator>
                <mto-menu-item><iron-icon icon="settings"></iron-icon>Settings</mto-menu-item> -->
                <mto-menu-item id="shortcutsMenuItem"><iron-icon icon="hardware:keyboard"></iron-icon>Keyboard shortcuts</mto-menu-item>
              </mto-menu>
            </paper-menu-button>

            <!-- ===================== -->
          </paper-toolbar>
        </iron-pages>

        <div class="content">
          <iron-pages id="viewModePages" attr-for-selected="data-view-mode" selected="{{viewMode}}">

            <!-- END POINT: ViewMode elements -->

            <mto-view-mode-bullets
              data-view-mode="bulletsView"
              nodes="{{nodes}}"
              db-ref="{{nodesDbRef}}"
              settings="{{settings}}"
              selections="{{selections}}">
            </mto-view-mode-bullets>

            <mto-view-mode-table
              data-view-mode="tableView"
              nodes="{{nodes}}"
              db-ref="{{nodesDbRef}}"
              settings="{{settings}}"
              selections="{{selections}}">
            </mto-view-mode-table>

            <!-- ===================== -->

          </iron-pages>
        </div>
      </paper-header-panel>

      <mto-gallery
        id="gallery"
        data-screen="gallery"
        nodes="{{nodes}}"
        db-ref="{{nodesDbRef}}"
        node-id="{{_galleryOpenedNodeId}}"
        selected="{{_galleryItemIndex}}">
      </mto-gallery>

      <mto-welcome-screen
        id="welcomeScreen"
        data-screen="login"
        auth-busy="[[authBusy]]"
        auth-error="[[authError]]">
      </mto-welcome-screen>

      <!-- ===================== -->

    </iron-pages>

    <!-- END POINT: Dialogs -->

    <paper-dialog
      id="insertVideoDialog"
      with-backdrop>
      <mto-insert-video-form></mto-insert-video-form>
    </paper-dialog>

    <paper-dialog
      id="insertImageDialog"
      with-backdrop>
      <mto-insert-image-form></mto-insert-image-form>
    </paper-dialog>

    <paper-dialog
      id="userSettingsDialog"
      with-backdrop>
      <mto-user-settings-form name="{{user.name}}"></mto-user-settings-form>
    </paper-dialog>

    <paper-dialog
      id="shortcutsDialog"
      with-backdrop>
      <mto-shortcuts-view></mto-shortcuts-view>
    </paper-dialog>

    <paper-toast id="selectNodeToast" text="Please select a node."></paper-toast>

    <paper-toast id="sourceCodeExistsToast" text="Selected node already contains a source code."></paper-toast>

    <paper-toast id="accountCreatedToast" text="Account successfully created. You can sign-in now."></paper-toast>

    <!-- ===================== -->
  </template>
</dom-module>

<script type="text/javascript" src="mto-editor.js"></script>
